body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

img {
    width: 75px;
    height: 75px;
}

.single-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 500px;
    background-color: lightgray;
    height: 100px;
    padding: 5px 0;
}

.image {
    margin: 0 5px 0 10px;
}

.info {
    margin-left: 5px;
}

.name {
    font-size: 1.25rem;
    font-weight: bold;
}

form {
    border: thin solid lightgray;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
